<div>
    <div class="panel panel-default panel-modified">
        <div class="panel-body">
            <h3 class="text-center"><strong>Navigation</strong></h3>
            <hr>

            <!--fix style!-->

            <ul style="list-style-type: none">
                <li><a class="left-sidebar-links" href="#/user/home">Home</a></li>
                <li><a class="left-sidebar-links" href="#/user/ads">My Ads</a></li>
                <li><a class="left-sidebar-links" href="#/user/ads/publish">Publish New Ad</a></li>
                <li><a class="left-sidebar-links" href="#/user/profile">Edit Profile</a></li>
            </ul>
        </div>
    </div>
</div>