<page-header page-title="'Publish New Ad'"></page-header>

<div class="container" id="main-div">
    <div class="row">
        <div class="col-md-3">
            <logged-in-sidebar></logged-in-sidebar>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="panel panel-default login-panel-modified">
                <div class="panel-body login-form-margin">
                    <h2 class="text-center"><strong>Publish New Ad</strong></h2>
                    <hr>

                    <form>
                        <div class="row">
                            <div class="form-group publish-input-div">
                                <div class="col-md-2 label-div">
                                    <label for="title" class="label-style">Title:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control form-control-modified" id="title"
                                           ng-model="adData.title" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group publish-input-div">
                                <div class="col-md-2 label-div">
                                <label for="text" class="label-style">Text:</label>
                            </div>
                                <div class="col-md-7">
                                    <textarea class="form-control form-control-modified-textarea" id="text"
                                           ng-model="adData.text" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group publish-input-div">
                                <div class="col-md-2 label-div">
                                    <label for="image" class="label-style">Image:</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control form-control-modified" id="image" ng-model="adData.image">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group publish-input-div">
                                <div class="col-md-2 label-div">
                                    <label for="category" class="label-style">Category:</label>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-control form-control-modified" id="category" ng-model="adData.categoryId">
                                        <option value="null">(None)</option>
                                        <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group publish-input-div">
                                <div class="col-md-2 label-div">
                                    <label for="town" class="label-style">Town:</label>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-control form-control-modified" id="town" ng-model="adData.townId">
                                        <option value="null">(None)</option>
                                        <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-default publish-page-buttons" ng-click="publishAd(adData)">Publish</button>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-default publish-page-buttons" href="#/user/home" ng-click="">Cancel</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>