<div>
    <div class="panel panel-default panel-modified">
        <div class="panel-body">
            <h3 class="text-center"><strong>Navigation</strong></h3>
            <hr>
            <a class="left-sidebar-links" href="#/">Home</a>
        </div>
    </div>

    <div class="panel panel-default panel-modified">
        <div class="panel-body">
            <p class="text-center" id="login-header">To publish a new ad, please login.</p>
            <a class="btn btn-default btn-block" href="#/login">Login</a>
            <a class="btn btn-default btn-block" href="#/register">Register</a>
        </div>
    </div>
</div>