<div>
    <header class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <span class="page-header-span">
                        <strong>Ads</strong>
                        <span ng-if="pageTitle"><strong> &ndash; {{pageTitle}}</strong></span>
                    </span>

                    <span ng-if="isLoggedIn" class="header-additional-info">
                        <span class="username-style"><strong>{{getUsername}}</strong></span>
                        <a ng-click="logout()">Logout</a>
                    </span>

                </h2>
            </div>
        </div>
    </header>
</div>
