<!--<div>-->
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-body">-->
            <!--<h2><strong>iPhone 4S for Sale</strong><small class="pull-right">30-Dec-2014</small></h2>-->
            <!--<div class="col-md-4">-->
                <!--<div class="panel panel-default content-wrapper">-->
                    <!--<div class="panel-body">-->
                    <!--<img src="img/iPhone_4s.png" class="img-responsive" alt="Responsive image">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-8">-->
                <!--<p class="ad-description">-->
                <!--I have a perfect phone.-->
                <!--</p>-->
             <!--</div>-->

            <!--<div class="col-md-8">-->
                <!--<div class="col-md-2 contact-label-div">-->
                    <!--<p class="contact-label">Name</p>-->
                <!--</div>-->
                <!--<div class="col-md-10 contact-details">-->
                    <!--<p class="ad-description">Bai Grozdan</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-8">-->
                <!--<div class="col-md-2 contact-label-div">-->
                    <!--<p class="contact-label">Email:</p>-->
                <!--</div>-->
                <!--<div class="col-md-10 contact-details">-->
                    <!--<p class="ad-description"><a href="#">bai_ti_grozdan@selskibekove.bg</a></p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-8">-->
                <!--<div class="col-md-2 contact-label-div">-->
                    <!--<p class="contact-label">Tel.</p>-->
                <!--</div>-->
                <!--<div class="col-md-10 contact-details">-->
                    <!--<p class="ad-description">+359 888 77 66 55</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<nav class="text-center">-->
        <!--<ul class="pagination">-->
            <!--<li><a href="#">First</a></li>-->
            <!--<li><a href="#">Previous</a></li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">Next</a></li>-->
            <!--<li><a href="#">Last</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
<!--</div>-->

<div>
    <ul>
        <li ng-repeat="ad in ads">{{ad.title}}</li>
    </ul>
</div>