<header class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2><strong>Ads - {{pageTitle}}</strong></h2>
        </div>
    </div>
</header>

<div class="container" id="main-div">
    <div class="row">
        <div class="col-md-2">
            <left-sidebar></left-sidebar>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="inputUser">Username:</label>
                            <input type="text" class="form-control" id="inputUser" placeholder="Enter username"
                                    ng-model="user.username">
                        </div>
                        <div class="form-group">
                            <label for="inputPass">Password:</label>
                            <input type="password" class="form-control" id="inputPass" placeholder="Enter password"
                                   ng-model="user.password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPass">Confirm password:</label>
                            <input type="password" class="form-control" id="confirmPass" placeholder="Confirm password">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Name:</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter your name"
                                   ng-model="user.name">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email:</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email"
                                   ng-model="user.email">
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Phone:</label>
                            <input type="text" class="form-control" id="inputPhone" placeholder="Enter phone"
                                   ng-model="user.phone">
                        </div>
                        <div class="form-group">
                            <label for="inputTown">Town:</label>
                            <select class="form-control" id="inputTown" ng-options="town.id as town.name for town in towns"
                                    ng-model="user.townId">
                                <!--<option ng-repeat="town in towns">{{town.name}}</option>-->
                            </select>                            
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="register(user)">Register</button>
                        <a href="#/login">Login here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

