<header class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2><strong>Ads - {{pageTitle}}</strong></h2>
        </div>
    </div>
</header>

<div class="container" id="main-div">
    <div class="row">
        <div class="col-md-2">
            <left-sidebar></left-sidebar>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center" id="login-header">Registration form</p>
                    <button type="button" class="btn btn-default btn-block">Register</button>
                    <!--<button type="button" class="btn btn-default btn-block">Register</button>-->
                    <a href="#/login">Login here</a>
                </div>
            </div>
        </div>
    </div>
</div>