* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E2F0D9;
}

header {
    background-color: #A9D18E;
    border: 2px solid #698A54;
    margin-bottom: 30px;
}

h2 {
    margin-top: 10px;
}

hr {
    border: 1px solid #698A54;
}

h2 > small {
    color: #000000;
}

.panel-body {
    word-wrap: break-word;
}

.panel-modified {
    background-color: #A9D18E;
    border: 2px outset #698A54;
    border-radius: 0;
}

.filters-style {
    list-style-type: none;
}

.categories-and-pages {
    color: #000000;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    font-size: 21px;
    padding-left: 5px;
}

.categories-and-pages:hover {
    color: #000000;
    text-decoration: none;
    cursor:pointer;
    background-color: #DAA600;
    outline: 1px solid #929341;
}

.selected {
    color: #000000;
    text-decoration: none;
    background-color: #DAA600;
    outline: 1px solid #929341;
}

.btn-block {
    margin-bottom: 15px;
}

#login-header {
    font-size: 21px;
}

.btn-default {
    background-color: #70AD47;
    color: #FFFFFF;
    border: 1px solid #698A54;
}

img {
    max-height: 180px;
    margin: 10px auto;
}

.content-wrapper {
    border: 1px dotted #698A54;
    background-color: #C5E0B4;
}

.ad-description {
    border: 1px dotted #698A54;
    background-color: #C5E0B4;
    padding: 8px;
    font-size: 21px;
}

.contact-details {
    padding: 0;
}

.contact-label-div {
    padding-left: 5px;
}

.contact-label {
    padding-top: 8px;
    font-size: 21px;
    float: right;
}

.pagination > li > a {
    margin: 2px;
    color: #000000;
    background-color: #A9D18E;
    border: 1px solid #698A54;
    font-size: 16px;
}

.pagination > li > a:hover {
    color: #FFFFFF;
    background-color: #548235;
    border: 1px solid #698A54;
    font-size: 16px;
}

footer {
    background-color: #A9D18E;
    border: 1px solid #698A54;
    width: 100%;
}

.footer-header {
    font-size: 20px;
    margin: 5px 0 5px 0;
}

/*a {*/
    /*color: #000000;*/
    /*text-decoration: none;*/
/*}*/

/*a:hover*/
/*{*/
    /*color: #000000;*/
    /*text-decoration:none;*/
    /*cursor:pointer;*/
/*}*/