<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-center"><strong>Categories</strong></h3>
            <hr>
            <ul style="list-style-type: none">
                <li>
                    <a class="categories-and-pages"><em>All</em></a>
                </li>
                <li ng-repeat="category in categories" ng-click="categoryClicked(category)">
                    <a class="categories-and-pages">{{category.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>