<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-center"><strong>Towns</strong></h3>
            <hr>
            <ul style="list-style-type: none">
                <li>
                    <a class="categories-and-pages" ng-click="townClicked(null)"><em>All</em></a>
                </li>
                <li ng-repeat="town in towns" ng-click="townClicked(town)">
                    <a class="categories-and-pages">{{town.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>