<page-header page-title="'Publish New Ad'"></page-header>

<div class="container" id="main-div">
    <div class="row">
        <div class="col-md-3">
            <logged-in-sidebar></logged-in-sidebar>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-modified">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" ng-model="user.username">
                        </div>

                        <div class="form-group">
                            <label for="description">Text:</label>
                            <input type="text" class="form-control" id="description" ng-model="user.password">
                        </div>

                        <div class="form-group">
                            <label for="category">Category:</label>
                            <!--ng-model="adData.categoryId"-->
                            <select class="form-control" id="category" >
                                <option value="null">(None)</option>
                                <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="towns">Town:</label>
                            <!--ng-model="adData.categoryId"-->
                            <select class="form-control" id="towns" >
                                <option value="null">(None)</option>
                                <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
                            </select>
                        </div>

                        <!--Modify buttons!!-->
                        <button type="submit" class="btn btn-default" ng-click="login(user)">Publish</button>
                        <a href="#/register">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>